

*, *::after, *::before {
  box-sizing: border-box;
  padding: 0;
}

body {
  margin: 0;
  background-color: #000b14bd;;
}


.calculator-grid {
  display: grid;
  margin-top: 2rem;
  justify-content: center;
  grid-template-columns: repeat(4, 6rem);
  grid-template-rows: minmax(10rem, auto) repeat(5, 6rem);
  background: linear-gradient(191.34deg, #17181A -4.95%, #17181A 103.74%);
  width: fit-content;
  margin-inline: auto;
  border-radius: 2rem;
  overflow: hidden;
  gap: .5rem;
  padding: 1rem;
  box-shadow: rgb(0 0 0 / 70%) 1.95px 1.95px 2.6px;
}

.calculator-grid button {
  display: grid;
  place-items: center;
  cursor: pointer;
  font-size: 2rem;
  outline: none;
  border: none;
  background-color: #303136;
  color: #29A8FF;
  border-radius: 30%;
  box-shadow: rgb(0 0 0 / 70%) 1.95px 1.95px 2.6px;
}

.calculator-grid button:hover,
.calculator-grid button:focus {
  background-color: rgba(255, 255, 255, .9);
  color: darkblue;
}

.calculator-grid .span-two {
  grid-column: span 2;
  border-radius: 1rem;
}

.calculator-grid .op-btn {
  background-color: #005DB2;
  color: rgba(255, 255, 255, .9);
}

.output {
  grid-column: 1 / -1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  padding: 2rem .75rem;
  word-wrap: break-word;
  word-break: break-all;
}

.output .previous-operand {
  color: rgba(255, 255, 255, .75);
}

.output .current-operand {
  color: rgba(255, 255, 255, 1);
  font-size: 2.5rem;
}